[user]
	name = cheeseNA
	email = kurocat2000@gmail.com

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	st = status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[merge]
	ff = false

[pull]
	ff = only

[core]
	quotepath = false
	pager = delta

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	features = decorations
	syntax-theme = Dracula

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-decoration-style = none
	file-style = bold yellow ul
	hunk-header-decoration-style = cadetblue box